.general-width {
  width: 80%;
  margin: auto;
  text-align: center;
}


body {
  font-family: 'Oswald'
}

.Clear {
  background: url(./img/clear.jpg) no-repeat ;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Rain {
  background: url(./img/rain.jpg) no-repeat ;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.Thunderstorm {
  background: url(./img/thunderstorm.jpg) no-repeat ;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Drizzle {
  background: url(./img/drizzle.jpg) no-repeat ;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Clouds {
  background: url(./img/cloudy.jpg) no-repeat ;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Snow {
  background: url(./img/cloudy.jpg) no-repeat ;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Atmosphere {
  background: url(./img/cloudy.jpg) no-repeat ;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#display {
	font-size: 6em;
}

.controller_button {
  font-size: 1.9em;
  background-color: green;
  color: yellow;
  border: 2px solid grey;
  border-radius: 25px;

}


#thermostat {
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  background-color: rgba(255,97,67, 0.4);
  width: 700px;
  height: 400px;
}

#checkBoxForm {
  font-size: 1.3em;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.red {
  color: red;
}

#temp {
  color: blue;
}

#londonTempDiv {
  font-size: 1.7em;
}

#other_city {
  font-size: 1.3em;
}



