.general-width {
  width: 80%;
  margin: auto;
  text-align: center;
}


body {
  font-family: 'Oswald';
  background-color: #E6E6E6;
}


#display {
	font-size: 6em;
}

.controller_button {
  font-size: 1.9em;
  background-color: green;
  color: yellow;
  border: 2px solid grey;
  border-radius: 25px;

}

#checkBoxForm {
  font-size: 1.3em;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.red {
  color: red;
}

#temp {
  color: blue;
}

#londonTempDiv {
  font-size: 1.7em;
}

#other_city {
  font-size: 1.3em;
}



