<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
  <title>Thermostat</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>

<body>

<div  id="thermostat">

<div class="general-width">

<div id='display' class="yellow"></div>

<div id='controller'>

  <button class='controller_button'>&uarr;</button>
  <button class='controller_button'>&darr;</button>
  <button class='controller_button'>RESET</button>

  <form id="checkBoxForm">
  	<label for="checkbox">Power Saving Mode</label>
    <input name ="checkbox" type="checkbox" id="powerSaveCheckBox" checked>
  </form>

  <div id="londonTempDiv">
    <p>Current temperature in <span id="city"></span> is: <span id="temp"></span> °C</p>
  </div>

  <div id="other_city">
    <label for="chose_a_city">Choose a city to check the weather   </label>
    <input type="text" id='chosen_city'>
    <input type="submit" value="Search" id="chose_a_city">
  </div>

</div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="src/Thermostat.js"></script>
<script type="text/javascript" src="src/application.js"></script>

</div>


</body>
</html>

